form {
  width: 520px;
  padding: 20px;
}

section {
  width: 900px;
}

.formulaire-inscription {

  fieldset {
    border: 0;

    legend {
      display:none;
    }
  }

  ol {
    list-style: none;
    padding: 0;

    li{
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
    }
  }

  input[type="submit"] {
    border: 1px solid $gray-700;
    background-color: $gray-200;
  }

}

@media screen and (min-width: $vw-medium) {
  .formulaire-inscription {
    ol{
      li{
        flex-direction: row;

        label {
          min-width: 150px;
        }
        input {
          min-width: 300px;
        }
      }
    }
  }
}

